{% extends "base.html" %}


{% block content %}

    <!--banner section start-->
        {% include "includes/usual_content/banner/index_page/banner.html" %}
        {% include "includes/home_page/section_1/s1.html" %}
        {% include "includes/home_page/section_2/s2.html" %}
        {% include "includes/usual_content/Marquee_effect/effect_1.html" %}
        {% include "includes/home_page/section_3/s3.html" %}
        {% include "includes/home_page/section_4/s4.html" %}
        {% include "includes/usual_content/stats_counter/effect_1.html" %}
        {% include "includes/usual_content/Marquee_effect/effect_2.html" %}

    
    <!--banner section end-->  
        
{% endblock content %}
