{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- Banner Section start-->
        <section id="subheader" class="jarallax text-light bg-dark">
            <img src="{% static 'images/slider/1.webp' %}" class="jarallax-img" alt="no image">
            <div class="container relative z-index-1000">
                <div class="container relative z-index-1000">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <h5 class=" wow fadeInUp mb-2"><span class="id-color">{{ vehicle_data.vehicle_name }}</span></h5>
                            <h1>{{ vehicle_data.vehicle_short_title }}</h1>
                            <div class="row mt-3 g-2 text-center">
                                <div class="col-4">
                                    <div class="bg-dark rounded-10px lh-1-2em p-2">
                                        <i class="fs-40 mb-1 id-color icofont-map-pins"></i>
                                        <div class="fs-18 fw-bold">{{ vehicle_data.vehicle_range }} KM</div>
                                        <div class="fs-14 op-5">Range</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="bg-dark rounded-10px lh-1-2em p-2">
                                        <i class="fs-40 mb-1 id-color icofont-dashboard"></i>
                                        <div class="fs-18 fw-bold">{{ vehicle_data.vehicle_top_speed }} Km/h</div>
                                        <div class="fs-14 op-5">Top Speed</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="bg-dark rounded-10px lh-1-2em p-2">
                                        <i class="fs-40 mb-1 id-color icofont-thunder-light"></i>
                                        <div class="fs-18 fw-bold">{{ vehicle_data.vehicle_motor_power }} Watt</div>
                                        <div class="fs-14 op-5">Motor Power</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- Banner Section end-->

    <!-- Vehicle description Section start-->
        <section>
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-12 text-center">
                        <h2 class="mb-0">Detailed Features</h2>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-6 ">
                        <div class="relative">
                            <img src="{{ vehicle_data.vehicle_image.url }}" class="img-fluid wow scaleIn" alt="no image">
                        </div>
                    </div>
                    <div class="col-md-6  wow fadeInUp">
                        <div class="accordion">
                            <div class="accordion-section" style="background-size: cover; background-repeat: no-repeat;">
                                <div class="accordion-section-title active" data-tab="#accordion-1" style="background-size: cover; background-repeat: no-repeat;">
                                    <h4 class="mb-0 d-inline">Vehicle Specifications</h4>
                                </div>
                                <div class="accordion-section-content" id="accordion-1" style="background-size: cover; background-repeat: no-repeat; display: block;">
                                    <ul>
                                        <li>Motor Type : Brushless {{vehicle_data.vehicle_motor_type}}</li>
                                        <li>Motor Power : {{vehicle_data.vehicle_motor_power}} kW</li>
                                        <li>Horsepower : {{vehicle_data.vehicle_horsepower}} Hp</li>
                                        <li>Torque : {{vehicle_data.vehicle_torque}} Nm</li>
                                        <li>Range : {{vehicle_data.vehicle_range}} KM</li>
                                        <li>Top Speed : {{vehicle_data.vehicle_top_speed}} Km/h</li>
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- Vehicle description Section end-->

    <!-- Vehicle advance features Section start-->
        <section>
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-12 text-center">
                        <h2 class="mb-0">Advanced Features</h2>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-4">
                        <div class="mb-4 relative wow fadeInRight" data-wow-delay=".3s">
                            <div class="absolute top-0 end-0">01</div>
                            <i class="bg-color text-light fs-48 p-2 absolute id-color icofont-thunder-light rounded-10px"></i>
                            <div class="pl-90">
                                <h4>Electric Drive</h4>
                                <p class="mb-0">{{vehicle_data.vehicle_feature_1}}</p>
                            </div>
                        </div>
                        <div class="mb-4 relative wow fadeInRight" data-wow-delay=".5s">
                            <div class="absolute top-0 end-0">02</div>
                            <i class="bg-dark text-light fs-48 p-2 absolute id-color icofont-volume-mute rounded-10px"></i>
                            <div class="pl-90">
                                <h4>Silent Power</h4>
                                <p class="mb-0">{{vehicle_data.vehicle_feature_2}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <img src="{{ vehicle_data.vehicle_image.url }}" class="img-fluid wow scaleIn" alt="no image">
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-4 relative wow fadeInLeft" data-wow-delay=".3s">
                            <div class="absolute top-0 start-0">03</div>
                            <i class="bg-color text-light fs-48 p-2 absolute end-0 id-color icofont-leaf rounded-10px"></i>
                            <div class="pr-90">
                                <h4 class="text-end">Zero Emissions</h4>
                                <p class="text-end mb-0">{{vehicle_data.vehicle_feature_3}}</p>
                            </div>
                        </div>
                        <div class="mb-4 relative wow fadeInLeft" data-wow-delay=".3s">
                            <div class="absolute top-0 start-0">04</div>
                            <i class="bg-dark text-light fs-48 p-2 absolute end-0 id-color icofont-road rounded-10px"></i>
                            <div class="pr-90">
                                <h4 class="text-end">Longer Range</h4>
                                <p class="text-end mb-0">{{vehicle_data.vehicle_feature_4}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- Vehicle advance features Section end-->

    <!-- Vehicle test frive booking Section start-->
    <section class="bg-color text-light pt40 pb40">
        <div class="container">
            <div class="row g-4 align-items-center">
                <div class="col-lg-9">
                    <h3 class="mb-1">Ready to drive into the future?</h3>
                </div>

                <div class="col-lg-3 text-lg-end text-start">
                    <a class="btn-main bg-dark" href="{% url 'Contact_Us' %}">Book a Test Drive</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Vehicle test frive booking Section end-->

{% endblock content %}



