{% load static %}

<section>
    <div class="container">
        <div class="row align-items-center g-4 gx-5">
            <div class="col-lg-8">
                <div class="subtitle bg-grey text-dark wow fadeInUp mb-3">Welcome</div>
                <h2 class="wow fadeInUp">Latest Motors</h2>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="btn-text text-dark wow fadeInLeft" href="{% url 'Latest_Vehicles' %}">Discover all Motors</a>
            </div>
        </div>
        <div class="row g-4">
            {% for latest_data in latest_vehicle %}
                <div class="col-lg-4 text-center">
                    <div class="bg-grey p-2 rounded-10px relative hover text-center">
                        <a href="{% url 'Vehicles_Data' latest_data.vehicle_id %}">
                            <img src="{{latest_data.vehicle_image.url}}" class="w-100 relative z-1000 hover-scale-1-2" alt="no image">
                        </a>
                        <div class="absolute w-100 h-100 start-0 top-0 rounded-10px hover-bg-color"></div>
                    </div>                            
                    <h4 class="mt-3 mb-1">
                        {% if latest_data.vehicle_status %}
                            <span class="bg-color me-2 fs-15 px-2 rounded-5px text-uppercase anim-op-blink-to-light">
                                New
                            </span>
                        {% endif %}
                        {{latest_data.vehicle_name}}</h4>
                    <p class="mb-0">{{latest_data.vehicle_product_short_desc}}</p>                            
                </div>
            {% endfor %}
        </div>
    </div>
</section>