{% load static %}
<!-- footer section start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row text-body-secondary align-items-center">
                <!-- Left: Logo -->
                <div class="col-4 text-start d-flex align-items-center" >  
                    <a href="{% url 'Home_Page' %}" class="text-body-secondary" target="_blank">
                        <img src="{% static 'admin_panel/images/logo.png' %}" alt="Mzone Logo" class="me-2" style="height: 30px;">
                    </a>
                </div>
                <!-- Center: Copyright -->
                <div class="col-4 text-center">
                    <p class="mb-0">&copy; 2025 Mzone. All Rights Reserved. <br>Designed & Developed : Nandakumar</p>

                </div>
                <!-- Right: Links -->
                <div class="col-4 text-end d-md-block">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="#" class="text-light">About</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-light">Contact</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="text-light">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>                        
            </div>
        </div>
    </footer>
<!-- footer section ends -->