{% load static %}

<section>
    <div class="container">
        <div class="row g-4 gx-5">
            <div class="col-lg-6">
                <div class="position-relative p-4">
                    <div class="bg-color text-light text-center w-30 p-3 rounded-10px position-absolute top-20 end-0 z-index-2 wow zoomIn" data-wow-delay=".0s">
                        <i class="icofont-bulb-alt fs-48"></i>
                        <h5 class="">Innovation</h5>
                    </div>
                    
                    <img src="{% static 'images/misc/15.webp' %}" class="img-fluid rounded-20px position-relative z-index-1 wow fadeInRight" alt="no image">

                    <div class="position-absolute bg-color-2 w-90 h-80 bg-color p-3 bottom-0 start-10 rounded-20px wow fadeInLeft"></div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="subtitle wow fadeInUp mb-3">Who We Are</div>
                <h2>Welcome to The <span class="id-color">Mzone</span></h2>
                <p class="lead fw-bold">Mzone are leading the charge towards a more sustainable future, offering a thrilling blend of cutting-edge technology, zero emissions, and unparalleled efficiency. </p>
                <p>Ad fugiat laborum ut nulla fugiat elit id officia dolor pariatur eu ad enim adipisicing ut veniam reprehenderit dolore ut nisi nisi adipisicing. Lorem ipsum id in commodo aliquip nostrud dolor quis id excepteur et eu irure ad reprehenderit consectetur nostrud non quis laborum ad excepteur incididunt occaecat in excepteur consectetur amet ad nulla ad ea nulla.</p>
                
            </div>
        </div>
    </div>
</section>