{% load static %}

<section class="jarallax">
    <img src="{% static 'images/background/gradient-2.webp' %}" class="jarallax-img" alt="no image">
    <div class="container">
        <div class="row g-4 gx-5">
            <div class="col-lg-4">
                <div class="subtitle bg-white text-dark wow fadeInUp mb-3">Vision &amp; Mission</div>
                <h2>For a Cleaner, and Brighter Future</h2>
                <img src="{% static 'images/misc/17.webp' %}" class="img-fluid" alt="no image">
            </div>

            <div class="col-lg-8">
                <h4 class="mb-4 wow fadeInRight">Our Vision</h4>
                <p class="lead wow fadeInUp">To lead the global automotive industry towards a sustainable future by revolutionizing transportation with innovative electric vehicles, fostering environmental stewardship, and enhancing the quality of life for present and future generations.</p>

                <div class="spacer-single"></div>

                <h4 class="mb-4 wow fadeInRight">Our Mission</h4>
                <ol class="ol-style-1">
                    <li class="wow fadeInUp" data-wow-delay=".2s"><span class="fw-bold id-color">Innovation:</span> We strive to push the boundaries of technological advancement, continuously innovating in electric vehicle design, battery technology, and sustainable manufacturing processes.</li>
                    <li class="wow fadeInUp" data-wow-delay=".4s"><span class="fw-bold id-color">Sustainability:</span> Our commitment to sustainability is unwavering. We aim to reduce carbon emissions and minimize environmental impact throughout the entire lifecycle of our products,</li>
                    <li class="wow fadeInUp" data-wow-delay=".6s"><span class="fw-bold id-color">Quality & Safety:</span> The safety and satisfaction of our customers are paramount. We uphold the highest standards of quality, safety, and reliability in every vehicle we produce</li>
                </ol>
            </div>
        </div>
    </div>
</section>