{% load static %}

<section>
    <div class="container">
        <div class="row g-4 gx-5">

            <div class="col-lg-6">
                <div class="subtitle wow fadeInUp mb-3">Core Value</div>
                <h2>Powered by <span class="id-color">Tomorrow</span></h2>
                <p class="lead fw-bold">Autoev are leading the charge towards a more sustainable future, offering a thrilling blend of cutting-edge technology, zero emissions, and unparalleled efficiency. </p>
                <p>Sit cillum sunt ut adipisicing cupidatat id aute incididunt consequat duis do consectetur ex duis adipisicing adipisicing excepteur anim exercitation.</p>
                <div class="d-flex">
                    <ul class="ul-style-2">
                        <li>Zero Emissions</li>
                        <li>Lower Costs</li>
                        <li>DDoS Mitigation</li>
                    </ul>

                    <ul class="ul-style-2 ml-30">
                        <li>Regenerative Braking</li>
                        <li>Quiet Operation</li>
                        <li>Advanced Technology</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="position-relative p-4">
                    <div class="bg-color text-light text-center w-30 p-3 rounded-10px position-absolute top-20 start-0 z-index-2 wow zoomIn" data-wow-delay=".0s">
                        <i class="icofont-bulb-alt fs-48"></i>
                        <h5 class="">Innovation</h5>
                    </div>
                    
                    <img src="{% static 'images/misc/16.webp' %}" class="img-fluid rounded-20px position-relative z-index-1 wow fadeInLeft" alt="no image">

                    <div class="position-absolute bg-color-2 w-90 h-80 bg-color p-3 bottom-0 end-10 rounded-20px wow fadeInRight"></div>
                </div>
            </div>
        </div>
    </div>
</section>