{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- boxicon css link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- bootstrap-5 css link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'admin_panel/css/style.css' %}">
</head>
<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex justify-content-between p-4">
                <div class="sidebar-logo">
                    <a href="#"><img src="{% static 'admin_panel/images/logo.png' %}" alt="Mzone Logo" style="height: 40px;"></a>
                </div>
                <button class="toggle-btn border-0" type="button">
                    <i id="icon" class='bx bxs-chevrons-right'></i>
                </button>
            </div>
            <!-- Navigation link section -->
             <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class='bx bxs-user-account' ></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class='bx bxs-home' ></i>
                        <span>Task</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                        <i class='bx bxs-bug-alt' ></i>
                        <span>Auth</span>
                    </a>
                    <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        {% comment %} <li class="sidebar-item">
                            <a href="login.html" class="sidebar-link">
                                Login
                            </a>
                        </li> {% endcomment %}
                        <li class="sidebar-item">
                            <a href="{% url 'Admin_Register' %}" class="sidebar-link">
                                Register
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="register.html" class="sidebar-link">
                                Change Password
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#multi" aria-expanded="false" aria-controls="multi">
                        <i class='bx bxs-bar-chart-alt-2' ></i>
                        <span>Multi Level</span>
                    </a>
                    <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#multi-two" aria-expanded="false" aria-controls="multi-two">
                            Two Links
                            </a>
                            <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
                                <li class="sidebar-item">
                                    <a href="" class="sidebar-link">Link 1</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="" class="sidebar-link">Link 2</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class='bx bxs-bell-ring' ></i>
                        <span>Notification</span>
                    </a>
                </i>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class='bx bxs-cog' ></i>
                        <span>Setting</span>
                    </a>
                </li>
             </ul>
             <div class="sidebar-footer">
                <a href="{% url 'Admin_logout' %}" class="sidebar-link">
                    <i class='bx bx-log-out' ></i>
                    <span>Logout</span>
                </a>
             </div>
        </aside>
        <div class="main">
            {% block content %}
            
            {% endblock content %}
            <!-- navbar -->
             
            
            <!-- footer section -->
            {% comment %} <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-body-secondary align-items-center">
                        <!-- Left: Logo -->
                        <div class="col-4 text-start d-flex align-items-center">  
                            <a href="#" class="text-body-secondary">
                                <img src="{% static 'admin_panel/images/logo.png' %}" alt="Mzone Logo" class="me-2" style="height: 30px;">
                            </a>
                        </div>
                        <!-- Center: Copyright -->
                        <div class="col-4 text-center">
                            <p class="mb-0">&copy; 2025 Mzone. All Rights Reserved. <br>Designed & Developed : Nandakumar</p>

                        </div>
                        <!-- Right: Links -->
                        <div class="col-4 text-end d-md-block">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a href="#" class="text-light">About</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="text-light">Contact</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="text-light">Terms & Conditions</a>
                                </li>
                            </ul>
                        </div>                        
                    </div>
                </div>
            </footer> {% endcomment %}
            
        </div>
    </div>
    

<!-- Js Section -->
<!-- chartjs link -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{% static 'admin_panel/js/main.js' %}"></script>
    {% block custom_js %}
      
    {% endblock custom_js %}
</body>
</html>
