{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}
<!-- navbar section start -->
    {% include "dashboard/includes/admin_navbar.html" %}
<!-- navbar section end -->
    <main class="content px-3 py-4">
        <div class="container-fluid">
            <div class="mb-3">
                <h3 class="fw-bold fs-4 mb-3">Admin Dashboard</h3>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="card shadow">
                            <div class="card-body py-4">
                                <h6 class="mb-2 fw-bold">Member Progress</h6>
                                <p class="fw-bold mb-2">₹ 891,891.00</p>
                                <div class="mb-0">
                                    <span class="badge text-success me-2" style="font-size: 1.2rem;">+9.0%</span>
                                    <span class="fw-bold">Since Last Month</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card shadow">
                            <div class="card-body py-4">
                                <h6 class="mb-2 fw-bold">Member Progress</h6>
                                <p class="fw-bold mb-2">₹ 891,891.00</p>
                                <div class="mb-0">
                                    <span class="badge text-success me-2" style="font-size: 1.2rem;">+9.0%</span>
                                    <span class="fw-bold">Since Last Month</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card shadow">
                            <div class="card-body py-4">
                                <h6 class="mb-2 fw-bold">Member Progress</h6>
                                <p class="fw-bold mb-2">₹ 891,891.00</p>
                                <div class="mb-0">
                                    <span class="badge text-success me-2" style="font-size: 1.2rem;">+9.0%</span>
                                    <span class="fw-bold">Since Last Month</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--content 2  -->
                <div class="row">
                    <div class="col-12 col-md-7">
                        <h3 class="fw-bold fs-4 my-3">Users</h3>
                        <table class="table table-striped">
                            <thead>
                                <tr class="highlight">
                                    <th scope="col">SL</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Pro_Name</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vehicle in page_number %}
                                <tr>
                                    <th scope="row">{{vehicle.vehicle_id}}</th>
                                    <td><a href="#"><img src="{{vehicle.vehicle_image.url}}" alt="Vehicle Pic" style="height: 40px;"></a></td>
                                    <td>{{vehicle.vehicle_name}}</td>
                                    <td>
                                        
                                        <a href="{% url 'admin_dashboard:Edit_Vehicle' vehicle.vehicle_id %}" class="table"><i class='bx bxs-edit'></i></a>
                                        <a href="{% url 'admin_dashboard:Delete_Vehicle' vehicle.vehicle_id %}" class="table delete-vehicle-btn"><i class='bx bxs-trash' ></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        <!-- Pagination Centered with Custom Style -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                {% if page_number.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link custom-pagination" href="?page={{ page_number.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link custom-pagination">&laquo;</span>
                                    </li>
                                {% endif %}

                                {% for page_num in page_number.paginator.page_range %}
                                    {% if page_num >= page_number.number|add:'-1' and page_num <= page_number.number|add:'1' %}
                                        {% if page_number.number == page_num %}
                                            <li class="page-item active">
                                                <span class="page-link custom-pagination">{{ page_num }}</span>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                <a class="page-link custom-pagination" href="?page={{ page_num }}">{{ page_num }}</a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% if page_number.has_next %}
                                    <li class="page-item">
                                        <a class="page-link custom-pagination" href="?page={{ page_number.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link custom-pagination">&raquo;</span>
                                    </li>
                                {% endif %}
                                {% comment %} <li class="page-item"><a class="page-link custom-pagination" href="#">1</a></li>
                                <li class="page-item"><a class="page-link custom-pagination" href="#">2</a></li>
                                <li class="page-item"><a class="page-link custom-pagination" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link custom-pagination" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li> {% endcomment %}
                            </ul>
                        </nav>
                        
                    </div>
                    <div class="col-12 col-md-5">
                        <h3 class="fw-bold fs-4 my-3">Reports Overview</h3>
                        <canvas id="bar-chart" width="800" height="450"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </main>
<!-- footer section start -->
    {% include "dashboard/includes/admin_footer.html" %}
<!-- footer section ends -->
{% endblock content %}

{% block custom_js %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const deleteLinks = document.querySelectorAll(".delete-vehicle-btn");
        
            deleteLinks.forEach(function(link) {
                link.addEventListener("click", function(event) {
                    event.preventDefault(); // Prevent default redirection
        
                    // Show SweetAlert confirmation
                    Swal.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to undo this!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#3085d6',
                        confirmButtonText: 'Yes, delete it!',
                        cancelButtonText: 'Cancel',
                        allowOutsideClick: false // Disable closing when clicking outside the message box
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // If confirmed, redirect to the delete URL
                            window.location.href = this.href;
                        }
                    });
                });
            });
            // SweetAlert for Django messages
            {% if messages %}
                {% for message in messages %}
                    Swal.fire({
                        icon: '{% if message.tags == "success" %}success{% elif message.tags == "error" %}error{% elif message.tags == "warning" %}warning{% else %}info{% endif %}',
                        title: '{{ message.tags|title }}',
                        text: '{{ message }}',
                        confirmButtonColor: '#3085d6'
                    });
                {% endfor %}
            {% endif %}
        });
    </script>
    
{% endblock custom_js %}
